#about-container-small {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 72vh;
  overflow-y: scroll;
}

.about-content-small {
  width: 80%;
}

.about-content-small h1 {
  font-weight: 300;
  font-size: 42px;
  line-height: 0px;
  padding-top: 30px;
  margin-bottom: 20px;
}
