#bottom-navbar {
  width: 100%;
  border-top: 0.5px solid #6b6b6b;
  position: absolute;
  bottom: 0px;
}

#bottom-navbar-content {
  display: flex;
  justify-content: space-around;
}

.bottom-content-wrapper {
  width: 33%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.bottom-content-wrapper p {
  transition: all 0.2s ease-out;
  transform: scale(1.8);
  font-weight: 200;

  width: fit-content;
}

.bottom-content-wrapper p:hover {
  transform: scale(1.9);
}

#bottom-navbar-content .bottom-content-wrapper:nth-child(-n + 2) {
  border-right: 0.5px solid #6b6b6b;
}
